@import '~@angular/material/theming';
@include mat-core();
$oneDex-primary: mat-palette($mat-red);
$oneDex-accent: mat-palette($mat-indigo, A200, A100, A400);
$oneDex-warn: mat-palette($mat-red);

$oneDex-theme: mat-light-theme($oneDex-primary, $oneDex-accent, $oneDex-warn);
@include angular-material-theme($oneDex-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.text-primary {
  color: mat-color($oneDex-primary)
}
.text-accent {
  color: mat-color($oneDex-accent)
}
.text-warn {
  color: mat-color($oneDex-warn)
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: rgba($color: white, $alpha: 0.1); 
}
::-webkit-scrollbar-thumb {
  background: mat-color($oneDex-accent);
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}